.tabs-table{
  background-color: white;
  text-align: center;
}
.tabs-table a{
  color: darkblue;
  font-size: 16px;

}

.tabs-table th{
  text-align: center;
  font-size: 20px;
  color: darkblue;
}

.navbar-custom {
  background-color: lightgrey;
  color: white;
  border-radius: 0;
}

.navbar-custom .navbar-nav > .active > a, .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus {
    color: red;
	background-color:transparent;
}

.navbar-custom .navbar-brand {
  	color:red;
}
