{% extends 'base.html' %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Guitar Tabs</title>
  </head>
  <body>
    {% block content %}
    <div class="container-fluid">
        <div class="form-group">
          <div class="col-xs-3">
            <label for="ex2"></label>
              <form class="" action="" method="get">
                <input type="text" id="ex2" name="song_title" placeholder="Search by Song Title" class="form-control">
                <input type="submit" name="" class="btn btn-success btn-xs pull-right" value="Submit!">
              </form>
            </div>
        </div>
    </div>
    <div class="container-fluid">
      <table class="table table-striped">
        <tbody>
          <tr>
            {% for link, song in song_links %}
              <a href="{{ link }}">{{ song }}</a> <br>
            {% endfor %}
            </div>
          </tr>
        </tbody>
      </table>
    </div>
    {% endblock %}


  </body>
</html>
