{% extends 'base.html' %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Guitar Tabs</title>
  </head>
  <body>
    {% block content %}
    <nav class="navbar navbar-header">
    <div class="container-fluid">
        <div class="collapse navbar-collapse">
            <label for="ex2"></label>
              <form class="navbar-form navbar-left" action="" method="get">
                <input type="text" id="ex2" name="song_title" placeholder="Search by Song Title" class="form-control">
                <input type="submit" name="" class="btn btn-success btn-sm" value="Submit!">
              </form>
            </div>
  </nav>
  <div class="container-fluid">
        <div class="col-md-8">
              <table class="tabs-table table table-striped table-bordered">
                <br>
                <thead>
                  <tr>
                    <th>Title</th>
                  </tr>
                </thead>
                <tbody>
                    {% for link, song in song_links %}
                    <tr>
                      <td>
                        <a href="{{ link }}">{{ song }}</a>
                      </td>
                    </tr>
                    {% endfor %}
                </tbody>
              </table>
        </div>
    </div>
    </div>
  </body>
</html>
    {% endblock %}
